parameters:
	ignoreErrors:
		-
			message: "#^Method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\CacheWarmer\\\\RouterCacheWarmer\\:\\:warmUp\\(\\) should return array\\<class\\-string\\> but returns array\\<string\\>\\.$#"
			count: 1
			path: src/CacheWarmer/RouterCacheWarmer.php

		-
			message: "#^Cannot call method write\\(\\) on Symfony\\\\Component\\\\Console\\\\Output\\\\OutputInterface\\|null\\.$#"
			count: 1
			path: src/Console/Descriptor/Descriptor.php

		-
			message: "#^Method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Console\\\\Descriptor\\\\Descriptor\\:\\:getOutput\\(\\) should return Symfony\\\\Component\\\\Console\\\\Output\\\\OutputInterface but returns Symfony\\\\Component\\\\Console\\\\Output\\\\OutputInterface\\|null\\.$#"
			count: 1
			path: src/Console/Descriptor/Descriptor.php

		-
			message: "#^Cannot call method importNode\\(\\) on DOMDocument\\|null\\.$#"
			count: 1
			path: src/Console/Descriptor/XmlDescriptor.php

		-
			message: "#^Parameter \\#1 \\$content of method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Console\\\\Descriptor\\\\Descriptor\\:\\:write\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Console/Descriptor/XmlDescriptor.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Loader\\\\Configurator\\\\RouteConfigurator will always evaluate to false\\.$#"
			count: 1
			path: src/Loader/Configurator/CollectionConfigurator.php

		-
			message: "#^Parameter \\#1 \\$collection of method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection\\:\\:addCollection\\(\\) expects Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection, Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\|Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection given\\.$#"
			count: 1
			path: src/Loader/Configurator/ImportConfigurator.php

		-
			message: "#^Anonymous class extends @final class Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Loader\\\\PhpFileLoader\\.$#"
			count: 1
			path: src/Loader/PhpFileLoader.php

		-
			message: "#^Anonymous function has an unused use \\$loader\\.$#"
			count: 1
			path: src/Loader/PhpFileLoader.php

		-
			message: "#^Cannot access property \\$childNodes on DOMElement\\|null\\.$#"
			count: 1
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 5
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string\\|null and array\\{\\} will always evaluate to false\\.$#"
			count: 1
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^Offset 1 on array\\{0, null\\} on left side of \\?\\? always exists and is always null\\.$#"
			count: 1
			path: src/Matcher/CompiledMatcher.php

		-
			message: "#^Cannot call method getMessage\\(\\) on Exception\\|null\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Cannot use array destructuring on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Invalid type Exception\\|null to throw\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\Dumper\\\\CompiledMatcherDumper\\:\\:indent\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Offset \\-1 does not exist on array\\|string\\|null\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Parameter \\#1 \\$code of method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\Dumper\\\\CompiledMatcherDumper\\:\\:indent\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, array\\|string\\|null given\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Offset 1 on array\\{0, null\\} on left side of \\?\\? always exists and is always null\\.$#"
			count: 1
			path: src/Matcher/Matcher.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: src/Router/Route.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|null given\\.$#"
			count: 1
			path: src/Router/RouteCompiler.php

		-
			message: "#^Array \\(array\\{cache_dir\\: string\\|null, debug\\: bool, generator_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\GeneratorInterface\\>, generator_dumper_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\Dumper\\\\GeneratorDumperInterface\\>, matcher_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\MatcherInterface\\>, matcher_dumper_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\Dumper\\\\MatcherDumperInterface\\>, resource_type\\: string\\|null\\}\\) does not accept key string\\.$#"
			count: 2
			path: src/Router/Router.php

		-
			message: "#^Cannot call method add\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection\\|null\\.$#"
			count: 7
			path: tests/Generator/Dumper/CompiledGeneratorDumperTest.php

		-
			message: "#^Cannot call method dump\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\Dumper\\\\CompiledGeneratorDumper\\|null\\.$#"
			count: 5
			path: tests/Generator/Dumper/CompiledGeneratorDumperTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_put_contents expects string, string\\|null given\\.$#"
			count: 5
			path: tests/Generator/Dumper/CompiledGeneratorDumperTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function unlink expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Generator/Dumper/CompiledGeneratorDumperTest.php

		-
			message: "#^Anonymous class extends @final class Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Loader\\\\GlobFileLoader\\.$#"
			count: 1
			path: tests/Loader/GlobFileLoaderTest.php

		-
			message: "#^Property Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Tests\\\\Loader\\\\TestObjectLoader\\:\\:\\$loaderMap \\(array\\<string, object\\>\\) does not accept array\\<string, string\\>\\.$#"
			count: 1
			path: tests/Loader/ObjectLoaderTest.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 2
			path: tests/Loader/PhpFileLoaderTest.php

		-
			message: "#^Cannot call method getDefaults\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\|null\\.$#"
			count: 1
			path: tests/Loader/XmlFileLoaderTest.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Loader/YamlFileLoaderTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_put_contents expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Matcher/Dumper/CompiledMatcherDumperTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function unlink expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Matcher/Dumper/CompiledMatcherDumperTest.php

		-
			message: "#^Cannot call method getPattern\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\|null\\.$#"
			count: 3
			path: tests/Router/RouteCollectionTest.php

		-
			message: "#^Cannot call method getCollection\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\|null\\.$#"
			count: 1
			path: tests/Router/RouterTest.php

		-
			message: "#^Cannot call method getGenerator\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\|null\\.$#"
			count: 1
			path: tests/Router/RouterTest.php

		-
			message: "#^Cannot call method getMatcher\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\|null\\.$#"
			count: 1
			path: tests/Router/RouterTest.php

		-
			message: "#^Cannot call method getOption\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\|null\\.$#"
			count: 5
			path: tests/Router/RouterTest.php

		-
			message: "#^Cannot call method setOption\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\|null\\.$#"
			count: 5
			path: tests/Router/RouterTest.php

		-
			message: "#^Cannot call method setOptions\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\|null\\.$#"
			count: 2
			path: tests/Router/RouterTest.php

