includes:
  - phpstan-baseline.neon
parameters:
  level: 8
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  excludePaths:
    - %currentWorkingDirectory%/tests/Fixtures/*
  checkMissingIterableValueType: false
