parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method importNode\\(\\) on DOMDocument\\|null\\.$#"
			count: 1
			path: src/Console/Descriptor/XmlDescriptor.php

		-
			message: "#^Parameter \\#1 \\$content of method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Console\\\\Descriptor\\\\Descriptor\\:\\:write\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Console/Descriptor/XmlDescriptor.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Loader\\\\Configurator\\\\RouteConfigurator will always evaluate to false\\.$#"
			count: 1
			path: src/Loader/Configurator/CollectionConfigurator.php

		-
			message: "#^Parameter \\#1 \\$collection of method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection\\:\\:addCollection\\(\\) expects Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection, Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\|Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection given\\.$#"
			count: 1
			path: src/Loader/Configurator/ImportConfigurator.php

		-
			message: "#^Anonymous class extends @final class Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Loader\\\\PhpFileLoader\\.$#"
			count: 1
			path: src/Loader/PhpFileLoader.php

		-
			message: "#^Anonymous function has an unused use \\$loader\\.$#"
			count: 1
			path: src/Loader/PhpFileLoader.php

		-
			message: "#^Cannot access property \\$childNodes on DOMElement\\|null\\.$#"
			count: 1
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 5
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string\\|null and array\\{\\} will always evaluate to false\\.$#"
			count: 1
			path: src/Loader/XmlFileLoader.php

		-
			message: "#^Offset 1 on array\\{0, null\\} on left side of \\?\\? always exists and is always null\\.$#"
			count: 1
			path: src/Matcher/CompiledMatcher.php

		-
			message: "#^Cannot call method getMessage\\(\\) on Exception\\|null\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Cannot use array destructuring on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Invalid type Exception\\|null to throw\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\Dumper\\\\CompiledMatcherDumper\\:\\:indent\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Parameter \\#1 \\$code of method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\Dumper\\\\CompiledMatcherDumper\\:\\:indent\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Matcher/Dumper/CompiledMatcherDumper.php

		-
			message: "#^Cannot use array destructuring on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\.$#"
			count: 1
			path: src/Matcher/Dumper/PhpMatcherDumper.php

		-
			message: "#^Method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\Dumper\\\\PhpMatcherDumper\\:\\:indent\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Matcher/Dumper/PhpMatcherDumper.php

		-
			message: "#^Offset 1 on array\\{0, null\\} on left side of \\?\\? always exists and is always null\\.$#"
			count: 1
			path: src/Matcher/Matcher.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: src/Router/Route.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Router/Route.php

		-
			message: "#^Offset 3 on array\\{'variable', mixed, string, string\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/Router/RouteCompiler.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|null given\\.$#"
			count: 1
			path: src/Router/RouteCompiler.php

		-
			message: "#^Method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\:\\:getGenerator\\(\\) should return Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\GeneratorInterface but returns object\\.$#"
			count: 1
			path: src/Router/Router.php

		-
			message: "#^Method Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\:\\:getMatcher\\(\\) should return Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\MatcherInterface but returns object\\.$#"
			count: 1
			path: src/Router/Router.php

		-
			message: "#^Property Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\:\\:\\$generator \\(Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\GeneratorInterface\\|null\\) does not accept object\\.$#"
			count: 1
			path: src/Router/Router.php

		-
			message: "#^Property Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\:\\:\\$matcher \\(Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\MatcherInterface\\|null\\) does not accept object\\.$#"
			count: 1
			path: src/Router/Router.php

		-
			message: "#^Property Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\:\\:\\$options \\(array\\{cache_dir\\: string\\|null, debug\\: bool, generator_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\GeneratorInterface\\>, generator_base_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\GeneratorInterface\\>, generator_cache_class\\: non\\-empty\\-string\\|null, generator_dumper_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\Dumper\\\\GeneratorDumperInterface\\>, matcher_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\MatcherInterface\\>, matcher_base_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\MatcherInterface\\>, \\.\\.\\.\\}\\) does not accept non\\-empty\\-array\\.$#"
			count: 1
			path: src/Router/Router.php

		-
			message: "#^Property Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Router\\:\\:\\$options \\(array\\{cache_dir\\: string\\|null, debug\\: bool, generator_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\GeneratorInterface\\>, generator_base_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\GeneratorInterface\\>, generator_cache_class\\: non\\-empty\\-string\\|null, generator_dumper_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\Dumper\\\\GeneratorDumperInterface\\>, matcher_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\MatcherInterface\\>, matcher_base_class\\: class\\-string\\<Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Matcher\\\\MatcherInterface\\>, \\.\\.\\.\\}\\) does not accept non\\-empty\\-array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/Router/Router.php

		-
			message: "#^Binary operation \"\\.\" between 'COLUMNS\\=' and non\\-empty\\-array\\|non\\-falsy\\-string results in an error\\.$#"
			count: 1
			path: tests/Console/Descriptor/AbstractDescriptorTestCase.php

		-
			message: "#^Cannot call method add\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection\\|null\\.$#"
			count: 7
			path: tests/Generator/Dumper/CompiledGeneratorDumperTest.php

		-
			message: "#^Cannot call method dump\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\Dumper\\\\CompiledGeneratorDumper\\|null\\.$#"
			count: 5
			path: tests/Generator/Dumper/CompiledGeneratorDumperTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_put_contents expects string, string\\|null given\\.$#"
			count: 5
			path: tests/Generator/Dumper/CompiledGeneratorDumperTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function unlink expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Generator/Dumper/CompiledGeneratorDumperTest.php

		-
			message: "#^Call to method generate\\(\\) on an unknown class DefaultRoutesGenerator\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Call to method generate\\(\\) on an unknown class NonExistingRoutesGenerator\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Call to method generate\\(\\) on an unknown class ProjectGenerator\\.$#"
			count: 2
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Call to method generate\\(\\) on an unknown class ProjectLargeGenerator\\.$#"
			count: 2
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Call to method generate\\(\\) on an unknown class WithoutRoutesGenerator\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Cannot call method add\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\RouteCollection\\|null\\.$#"
			count: 7
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Cannot call method dump\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Generator\\\\Dumper\\\\PhpGeneratorDumper\\|null\\.$#"
			count: 5
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Instantiated class DefaultRoutesGenerator not found\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Instantiated class NonExistingRoutesGenerator not found\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Instantiated class ProjectGenerator not found\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Instantiated class ProjectLargeGenerator not found\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Instantiated class WithoutRoutesGenerator not found\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_put_contents expects string, string\\|null given\\.$#"
			count: 5
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function unlink expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Generator/Dumper/PhpGeneratorDumperTest.php

		-
			message: "#^Property Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Tests\\\\Loader\\\\TestObjectLoader\\:\\:\\$loaderMap \\(array\\<string, object\\>\\) does not accept array\\<string, string\\>\\.$#"
			count: 1
			path: tests/Loader/ObjectLoaderTest.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 2
			path: tests/Loader/PhpFileLoaderTest.php

		-
			message: "#^Cannot call method getDefaults\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\|null\\.$#"
			count: 1
			path: tests/Loader/XmlFileLoaderTest.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Loader/YamlFileLoaderTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_put_contents expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Matcher/Dumper/CompiledMatcherDumperTest.php

		-
			message: "#^Parameter \\#1 \\$filename of function unlink expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Matcher/Dumper/CompiledMatcherDumperTest.php

		-
			message: "#^Call to method match\\(\\) on an unknown class ProjectMatcher\\.$#"
			count: 3
			path: tests/Matcher/Dumper/PhpMatcherDumperTest.php

		-
			message: "#^Instantiated class ProjectMatcher not found\\.$#"
			count: 1
			path: tests/Matcher/Dumper/PhpMatcherDumperTest.php

		-
			message: "#^Cannot call method getPattern\\(\\) on Gos\\\\Bundle\\\\PubSubRouterBundle\\\\Router\\\\Route\\|null\\.$#"
			count: 3
			path: tests/Router/RouteCollectionTest.php

